*{
    padding: 0%;
    margin: 0;
}

article{
    background-color:rgb(163, 195, 255);
}

nav{
    background-color:black;
}

footer{
    color: white;
    background-color: #757575;
    padding: 2%;
}